html, body, div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
}

#the-canvas {
    box-sizing: border-box;
    border: 5px solid blue;
    background-color: black;
    width: 100%;
    height: 92%;
}

#new-game, #clear-game {
    background-color: cadetblue;
    width: 45%;
    font-size: 2vw;
}

#new-game {
    margin-left: 5%;
}

span.stretch {
    display: inline-block;
    transform:scale(2,1); /* W3C */
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
}