html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: block;
}

#the-canvas {
    box-sizing: border-box;
    border: 5px solid blue;
    background-color: black;
    width: 100%;
    height: 90%;
}

#new-game, #clear-game {
    margin-left: 3%;
    background-color: cadetblue;
    font-size: 175%;
    width: 45%;
    height: 5%;
}